<!DOCTYPE html>
<html>
<head>
<title>1st HTML Assignment</title>
</head>
<body>


<h1>Today</h1>
    <% day = Date.today.strftime("%A") %>
    <% month_day = Date.today.strftime("%B %d") %>
    <% year = Date.today.strftime("%Y") %>
   <p><%= "The date is #{day}, #{month_day}, #{year}" %></p>

</body>
</html>